@import '../../assets/styles/variables';


.paginationWrapper {
  border-top: 1px solid grey;
  -webkit-user-select: none;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}