@import "../../assets/styles/variables";

.cartWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.cart {
  width: 65%;
}

.cartHeader {
  padding: 50px 0 40px 0;
  -webkit-user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .leftSide {
    font-size: 37px;
    font-weight: bold;
  }

  .rightSide {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #838383;
    cursor: pointer;
    font-size: $cart-button-font-size;

    &:hover {
      color: black;
      border-color: $orange-color;

      .trash {
        color: red;
      }
    }
  }
}

.cartFooter {
  display: flex;
  border-top: 0.5px solid #b6b6b6;
  cursor: text;
  padding: 30px 0;
  -webkit-user-select: none;
  align-items: center;
  justify-content: space-between;

  .totalPizzas {
    font-size: 20px;

    span {
      font-weight: bold;
    }
  }

  .sum {
    font-size: 20px;

    span {
      font-weight: bold;
      color: $orange-color;
    }
  }
}

.buttons {
  -webkit-user-select: none;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
  }

  .backButton {
    border-radius: 24px;
    display: flex;
    font-size: $cart-button-font-size;
    color: white;
    font-weight: 300;
    border: 1px solid $orange-color;
    background-color: $orange-color;
    cursor: pointer;
    padding: 10px 20px;
    transition-duration: 0.2s;

    &:hover {
      background-color: white;
      border: 1px solid $orange-color;
      color: black;
    }
  }

  .payButton {
    border-radius: 24px;
    display: flex;
    font-size: $cart-button-font-size;
    color: white;
    font-weight: 300;
    border: 1px solid $orange-color;
    background-color: $orange-color;
    cursor: pointer;
    padding: 10px 25px;
    transition-duration: 0.2s;

    &:disabled {
      opacity: 0.6;
      cursor: default;

      &:hover {
        color: white;
        background-color: $orange-color;
      }
    }

    &:hover {
      background-color: white;
      border: 1px solid $orange-color;
      color: black;
    }
  }
}
