@import '../../../assets/styles/variables';

.pizzaCard {
  width: 243px;
  height: 450px;
  text-align: center;
  margin: 0 auto;

  .pizzaImg {
    margin-bottom: 20px;
    -webkit-user-select: none;

    img {
      display: block;
      height: 205px;
      width: 202px;
      margin: 0 auto;
    }
  }

  .pizzaName {
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    padding-top: 8px;
    margin-bottom: 20px;
  }

  .params {
    display: flex;
    background-color: #F3F3F3;
    flex-direction: column;
    border-radius: 6px;
  }

  .diameter ul,
  .width ul {
    -webkit-user-select: none;
    display: flex;
    padding: 0;
    margin: 7px auto;
    text-align: center;
    list-style-type: none;

    li {
      background-color: #F3F3F3;
      cursor: pointer;
      transition-duration: 0.4s;
      border-radius: 5px;
      padding: 6px 12px;
      justify-content: center;
      margin: 0 6px 0 6px;
      width: 100%;
      font-weight: 600;

      &:active,
      &:hover,
      &.active {
        background-color: #ffffff;
        box-shadow: $box-shadow;
      }
    }
  }

  .bottomWrapper {
    display: flex;
    justify-content: space-between;

    .price {
      -webkit-user-select: none;
      margin-top: 25px;
      margin-right: 5px;
      padding-left: 38px;
      font-weight: 800;
    }

    .add {
      -webkit-user-select: none;
      display: flex;
      cursor: pointer;
      align-items: center;
      font-size: 15px;
      font-weight: 800;
      border: 1px solid $orange-color;
      border-radius: 25px;
      margin-top: 19px;
      padding-left: 5px;
      padding-right: 10px;
      color: $orange-color;
      text-align: center;
      background-color: white;

      &:hover {
        background-color: $orange-color;
        color: white;

        span {
          background-color: white;
          color: $orange-color;
        }
      }

      .addIcon {
        padding-top: 2px;
        padding-left: 2px;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        margin-left: 5px;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        border-radius: 50%;
        color: white;
        background-color: $orange-color;
      }
    }
  }
}


@media (max-width: 1920px) {
  .pizzaCard {
    width: 300px;

    .pizzaImg {

      img {
        height: 220px;
        width: 220px;
      }
    }

    .diameter ul,
    .width ul {

      li {
        padding: 8px 12px;
      }
    }

    .add {
      margin-top: 19px;
      padding: 3px 10px;
    }


    .pizzaName {
      text-align: center;
      font-weight: 800;
      font-size: 23px;
      padding-top: 8px;
      //margin-top: 5px;
      margin-bottom: 20px;
    }

    .price {
      font-size: 20px;
      -webkit-user-select: none;
      margin-top: 25px;
      margin-right: 5px;
      padding-left: 38px;
      font-weight: 800;
    }

    .diameter ul {
      margin: 7px auto;

      li {
        padding: 6px 3px;
        margin: 0 6px 0 6px;
      }
    }
  }
}


@media (max-width: 1400px) {
  .pizzaCard {
    //width: 270px;
  }

}


@media (max-width: 992px) {
  .pizzaCard {
    width: 260px;
    height: 450px;
    text-align: center;
    margin: 0 auto;

    .pizzaImg {

      img {
        height: 210px;
        width: 210px;
      }
    }

    .diameter ul {
      margin: 7px auto;

      li {
        padding: 6px 3px;
        margin: 0 6px 0 6px;
      }
    }
  }
}

@media (max-width: 375px) {
  .pizzaCard {
    height: 417px;
  }
}

