.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border-bottom: 1px solid #D3D3D3;
  gap: 20px;
}

.leftSide {
  display: flex;
  width: 30%;
  align-items: center;

  .logo {
    -webkit-user-select: none;

    img {
      cursor: pointer;
      width: 50px;
      height: 50px;
    }
  }

  .logoCaption {
    flex-direction: column;
    gap: 7px;
    text-decoration: none;
    margin-left: 7px;
    width: 100%;

    h1 {
      cursor: pointer;
      font-size: calc(17px + 12 * (100vw / 1280));
    }

    h3 {
      cursor: pointer;
      font-size: calc(13px + 7 * (100vw / 1280));
      color: #a8a6a5;

      @media (max-width: 950px) {
        display: none;
      }
    }
  }
}

.rightSide {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  -webkit-user-select: none;
  border: 1px solid #fd601e;
  width: 100%;
  background-color: #fd601e;
  cursor: pointer;
  border-radius: 30px;
  color: white;
  gap: 5px;
  font-weight: 600;
  transition-duration: 0.4s;
  padding: 0 14px;

  &:hover {
    background-color: white;
    border: 1px solid #fd601e;
    color: black;
  }

  .totalPrice {
    width: 100%;
    display: flex;
  }

  .totalPrice,
  .pipe,
  .totalCount {
    @media (max-width: 475px) {
      display: none;
    }
  }

  .pipe {
    color: #a8a6a5;
    font-weight: 200;
  }

  .basket {
    align-items: center;
    display: flex;
    gap: 3px;

    .basketIcon {
      padding-top: 2px;
    }
  }
}

@media (max-width: 475px) {

  .rightSide {
    width: auto;
    padding: 20px;
    position: relative;
  }

  .basket {
    position: absolute;
    padding: 10px;
  }
}
