.emptyCart {
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;

  img {
    padding-top: 30px;
    width: 350px;
  }
}

@media (max-width: 1920px) {
  .emptyCart {
    img {
      width: 450px;
    }
  }
}

@media (max-width: 950px) {
  .emptyCart {
    img {
      width: 400px;
    }
  }
}

@media (max-width: 590px) {
  .emptyCart {
    img {
      width: 350px;
    }
  }
}

@media (max-width: 500px) {
  .emptyCart {
    h1 {
      font-size: 28px;
    }

    img {
      width: 300px;
    }
  }
}

@media (max-width: 430px) {
  .emptyCart {
    h1 {
      font-size: 28px;
    }

    img {
      width: 250px;
    }
  }
}
