.search {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 80px;
  gap: 4px;

  @media (max-width: 750px) {
    display: none;
  }

  @media (max-width: 891px) {
    padding-right: 50px;
  }

  form {
    position: relative;
    padding-right: 30px;

    .searchIcon {
      height: 18px;
      width: 18px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 14px;
      left: 16px;
    }

    .searchInput {
      height: 100%;
      padding: 12px 30px 12px 41px;
      border-radius: 3px;
      background-color: transparent;
      border: 1px solid rgba(4, 4, 4, 0.5);
      color: black;
      width: 100%;

      &:hover {
        border: 1px solid black;
      }

      &:focus {
        border: 1px solid black;
        outline: none;
      }
    }
  }

  .closeIcon {
    width: 19px;
    height: 19px;
    position: absolute;
    cursor: pointer;
    top: 13px;
    right: 43px;
    opacity: 0.6;

    &:hover {
      opacity: 0.9;
    }
  }
}