@import "~normalize.css";

body {
  margin: 0 auto;
  padding: 25px;
  background-color: #fbdb8a;
  font-family: "Nunito", sans-serif;

  button {
    cursor: pointer;
    text-decoration: none;
  }

  h1,
  h3,
  ul {
    padding: 0;
    margin: 0;
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: black;
  }
}
